* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

ul,li {
    list-style: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  color: #80868b;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  display: block;
}

[contenteditable="true"]{
    cursor: text;
}

html, body {
    background-color: #fff;
    color: #202124;
    direction: ltr;
    font-family: 'Roboto',arial,sans-serif;
    font-size: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

#app {
    width: 496px;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 50px;
}

#app .main .add-item {
  width: 100%;
  padding: 5px 0;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
  -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

#app .main .add-item .title
{
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  max-height: 10em;
}

#app .main .add-item .title input {
  width: 100%;
  font-size: 18px;
  padding: 8px 16px;
  border: 0;
  background: transparent;
  font-weight: 500;
}


#app .main .add-item .content {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 16px;
  max-height: 250px;
  overflow-y: auto;
}

#app .main .add-item .options {
  padding: 0 16px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  max-height: 10em;
}

#app .main .add-item .options::after, 
#app .main .add-item .options::before {
  content: "";
  display: table;
  clear: both;
}

#app .main .add-item .options .left {
  float: left;
}

#app .main .add-item .options .left button {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #686868;
  border: 0;
  background: transparent;
  margin: 0 2px;
  cursor: pointer;
  font-size: 18px;
}

#app .main .add-item .options .left .change-color {
  position: relative;
  display: inline-block;
}

#app .main .add-item .options .left .change-color > li{
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  color: #686868;
  margin: 0 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
}

#app .main .add-item .options .left .change-color .list-color {
  width: 136px;
  height: 110px;
  background-color: white;
  padding: 5px 3px;
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
}

#app .main .add-item .options .left .change-color .list-color li {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  margin: 3px;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  position: relative;
}

#app .main .add-item .options .left .change-color .list-color li:first-child {
  border: 1px solid #333333;
}

#app .main .add-item .options .left .change-color .list-color li:hover {
  border: 2px solid black;
}

#app .main .add-item .options .left .change-color .list-color li.selected {
  border: 1px solid black;
}

#app .main .add-item .options .left .change-color .list-color li.selected:after {
  content: "";
  position: absolute;
  top: 15%;
  left: 50%;
  width: 12px;
  height: 9px;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  transform:translateX(-50%) rotate(-45deg);
}

#app .main .add-item .options .left .change-color:hover .list-color {
  visibility: visible;
  opacity: 1;
}

#app .main .add-item .options > button {
  float: right;
  height: 36px;
  line-height: 36px;
  background: transparent;
  border: 0;
  font-size: 18px;
  padding: 0 20px;
  cursor: pointer;
}

#app .main .add-item.not_new .title,
#app .main .add-item.not_new .options
{
  overflow: hidden !important;
  max-height: 0 !important;
}

#app .main .add-item.not_new .content {
  font-size: 18px !important;
  font-weight: 700 !important;
}